<script type="text/x-handlebars" data-template-name="quotes_table">
  <form>
    {{view Ember.TextField id="quoteInput"}}
    <input type="submit" value="Add Stock" {{action "addQuote"}}>
  </form>

  <table>
  {{#each quote in Portfolio.quotesController.content}}
    <tr>
      <td>
        {{quote.symbol}}
      </td>
      <td>
        {{quote.price}}
      </td>
    </tr>
  {{/each}}
  </table>
</script>
