<h1>Stock Portfolio</h1>

<script type="text/javascript">
  BASE_URL="<%= Rails.env.production? ? "/portfolio" : "" %>";
</script>

<script type="text/x-handlebars" data-template-name="quotes_table">
  <form class="form-inline">
    {{view Ember.TextField id="quoteInput"}}
    <input type="submit" value="Add Stock" {{action "addQuote"}} class="btn btn-primary">
  </form>

  <table class="table table-striped table-bordered" id="stocks_table">
    <thead>
      <tr>
        <th data-keyname="symbol">
          Symbol
        </th>
        <th data-keyname="price">
          Price
        </th>
        <th data-keyname="quantity">
          Quantity
        </th>
        <th data-keyname="total">
          Total Value
        </th>
      </tr>
    </thead>

  {{#each quote in Portfolio.quotesController.content}}
    <tr>
      <td>
        {{quote.symbol}}
      </td>
      <td {{bindAttr class="quote.row_class"}}>
        {{quote.price}}
      </td>
      <td>
        {{view Ember.TextField valueBinding="quote.quantity"}}
        <a {{action "removeQuote" target="Portfolio.quotesController" context="quote"}}>Remove</a>
      </td>
      <td>
        {{quote.totalValue}}
      </td>
    </tr>
  {{/each}}

  <tfoot>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
        {{Portfolio.quotesController.totalValue}}
      </td>
    </tr>
  </tfoot>
  </table>
</script>

<% if Rails.env.development? %>
  <p>
    Session: <%= @session_id %>
  </p>

  <p>
    <% if @portfolio_data.present? %>
      Portfolio data: <%= @portfolio_data[:portfolio_data].inspect %>
    <% end %>
  </p>
<% end %>
